.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-python-blue);
    align-items: center;

}

.footer .logo-section > a {
    margin: 8px;
}

.footer .social-media-section {
    display: flex;
    flex-direction: row;
}

.footer .social-media-section > a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    border-radius: 50vh;
    background-color: white;
}


.footer .social-media-section img {
    width: 32px;
    height: 32px;
    margin: 8px;
}

.footer .page-links-section {
    display: flex;
    flex-direction: column;
}

.footer .page-links-section > a {
    margin: 8px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .footer .page-links-section {
        flex-direction: row;
    }
}