.navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-python-blue);
    z-index: 1000;
    overflow: clip;
}

.navbar .logo {
    padding: var(--spacing-medium) var(--spacing-large);
}

.navbar-controls {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.navbar-controls > * {
    width: 100%;
}

.logo-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.hamburger-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


.navbar-links {
    display: none;
    flex-direction: column;
    height: calc(100dvh - 50px);
}

.navbar-links > * {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar a {
    margin: 8px;
}

.navbar button {
    margin: 8px;
}

@media only screen and (min-width: 768px) {
    .navbar {
        flex-direction: row !important;
    }
    .navbar .hamburger-section {
        display: none;
    }

    .navbar-controls {
        flex: 0 0 33.33%;
    }
    .navbar-links {
        display: flex !important;
        flex-direction: row;
        flex: 0 0 66.66%;
        height: 50px;
    }
    .navbar-links > * {
        flex-direction: row;
    }
    .navbar-right {
        justify-content: flex-end;
    }
}